@charset "UTF-8";

p[data-anime-sine] {
	transition: transform .4s ease-out,opacity .4s ease-in;
	opacity: 0;
	border: .1rem solid #ccc;
	width: 30px;
	padding: .4rem 0;
	text-align: center;
	position: absolute;
	left: 4rem;
	top: 5rem;
}

p[data-anime-sine].anime_start {
	opacity: 1;
}
p[data-anime-sine="1"].anime_start {
    transform: translate(0%, 0%);
}
p[data-anime-sine="2"].anime_start {
    transform: translate(120%, 0%);
}
p[data-anime-sine="3"].anime_start {
    transform: translate(240%, 0%);
}
p[data-anime-sine="4"].anime_start {
    transform: translate(0%, 120%);
}
p[data-anime-sine="5"].anime_start {
    transform: translate(120%, 120%);
}
p[data-anime-sine="6"].anime_start {
    transform: translate(240%, 120%);
}
p[data-anime-sine="7"].anime_start {
    transform: translate(0%, 240%);
}
p[data-anime-sine="8"].anime_start {
    transform: translate(120%, 240%);
}
p[data-anime-sine="9"].anime_start {
    transform: translate(240%, 240%);
}


p[data-anime-sine].anime_end {
}